/* header section */
.current_page{
    font-size: 70px;
    background-color: #c4cacb;
    border: black solid;
    padding: 20px 60px 20px 20px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00A2E8;
}

.logo img{
  height: 20rem;
}


.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c4cacb;
}
/* End header section */

/* Footer section */
.social img{
  height: 2rem;
  margin: .5rem;
}

.bigSocial img{
  height: 10rem;
  margin: .5rem 3rem ;
}

.social{
  display: flex;
  justify-content: right;
}

.bigSocial{
  display: flex;
  justify-content: center;
}

footer{
  padding: .5rem 1rem;
  background-color: #00A2E8;
}
/* End Footer section */

/* Dropdown section */
/* Dropdown Button */
.dropbtn {
    background-color: #c4cacb;
    color: black;
    padding: 20px;
    font-size: 70px;
    border: black solid;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 20px 26px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #00A2E8;
    border: black solid;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #00A2E8;}
  /* END Dropdown section */

  .hours{
    display: flex;
    justify-content: space-around;
  }

  img{
height: 30rem;
  }

  /* form info */
  form {
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
 
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
 
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="time"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
 
  input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /* form info done */

  main a{
    background-color: #00A2E8; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px ;
  }

  main{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 15pt;
  }

  h2{
    font-size: 35pt;
    font-weight: 700;
  }

  div{
    flex: 100%;
  }

  img{
    max-height: 300px;
  }

  ul {
    text-align: center;
    list-style-position: inside;
}

ol {
  text-align: center;
  list-style-position: inside;
}

  @media (min-width:1000px){
    header {
      display: flex;
      justify-content: space-around;
      background-color: #00A2E8;
    }
    .current_page{
      font-size: 70px;
      background-color: #c4cacb;
      border: black solid;
      padding: 20px 200px 20px 20px;
   
  }
  
  .logo{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .navbar{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #00A2E8;
  }

  div{
    flex:50%
  }
/* End header section */

  img{
    max-height: 500px;
  }
  
  }